{% extends "layout.html" %} {% block title %}Demo{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>{% endblock %} {% block content %}

<h1>{{ name }}</h1>

<div id="parameters" class="col-xs-4">
  <form method="POST" action="{{ url_for('demo')}}">

    <div class="form-group">
      <label for="vocabulary">Vocabulary</label>
      <select name="vocabulary" class="form-control">
              <option value="bing"> bing </option>
              <option id="afinn96" value="afinn96"> afinn96 </option>
              <option id="afinn111" value="afinn111"> afinn111 </option>
              <option id="nrc" value="nrc"> nrc </option>
              <option id="afinn_bing_base_bing" value="afinn_bing_base_bing"> afinn_bing_base_bing </option>
              <option id="afinn_bing_base_afinn" value="afinn_bing_base_afinn"> afinn_bing_base_afinn </option>
            </select>
    </div>

    <div class="form-group">
      <label for="market">Market source</label>
      <select name="market" class="form-control">
              <option value="ecb.europa.eu"> ecb.europa.eu </option>
              <option id="exchangerates.com" value="exchangerates.com"> exchangerates.com </option>
              <option id="investing.com" value="investing.com"> investing.com </option>
              <option id="ofx.com" value="ofx.com"> ofx.com </option>
              <option id="pundsterlinglive.com" value="pundsterlinglive.com"> pundsterlinglive.com </option>
            </select>
    </div>

    <div class="form-group">
      <label for="sentiment-discretization">Sentiment discretization (emissions)</label>
      <select name="emission_mod" class="form-control">
              <option id="sent_discretized_standard" value="standard"> Standard (2) </option>
              <option id="sent_discretized_variazione" value="variazione"> Variazione (3) </option>
              <option id="sent_discretized_variazione5" value="variazione_5"> Variazione (5) </option>
            </select>
    </div>

    <div class="form-group">
      <label for="market-discretization">Market discretization (transitions)</label>
      <select name="transition_mod" class="form-control">
              <option id="market_discretized_variazione" value="variazione"> Variazione (3) </option>
              <option id="market_discretized_variazione5" value="variazione_5"> Variazione (5) </option>
            </select>
    </div>


    <div class="form-group">
      <label for="em-tollerance">Sentiment tollerance (emissions)</label>
      <select name="sentiment_tollerance" class="form-control">
              <option  value="0.01"> 0.01 </option>
              <option  value="0.1"> 0.1 </option>
              <option value="0.2"> 0.2 </option>
            </select>
    </div>


    <div class="form-group">
      <label for="tr-tollerance">Markey tollerance (transitions)</label>
      <select name="market_tollerance" class="form-control">
              <option  value="0.001"> 0.001 </option>
              <option  value="0.002"> 0.002 </option>
              <option  value="0.003"> 0.003 </option>
              <option  value="0.004"> 0.004 </option>
              <option  value="0.005"> 0.005 </option>
            </select>
    </div>


    <input type="submit" value="Calcola" class="btn btn-default">
    <!-- <a href="{{ url_for('demo', dictionary = request.form['dictionary'], discretization = request.form['discretization'], typo = request.form['typo'],
         trtollerance = request.form['trtollerance'], smtollerance = request.form['smtollerance'])}}">
              <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Calcola
              </button>
            </a>-->
  </form>
</div>



{% if data %}

<div id="results" style="float:left;margin-top:50px;width:900px">
  <p>
    <h2>Matrici di probabilità</h2>
  </p>

  <table class="table table-bordered table-hover" style="width: auto">
    <p><b>Matrice delle probabilità iniziali</b></p>
    <tr>
      <td>{{ prob_matrix[0] }}</td>
    </tr>
    <tr>
      <td>{{ prob_matrix[1] }}</td>
    </tr>
    <tr>
      <td>{{ prob_matrix[2] }}</td>
    </tr>{% if prob_matrix_len==5 %}
    <tr>
      <td>{{ prob_matrix[3] }}</td>
    </tr>
    <tr>
      <td>{{ prob_matrix[4] }}</td>
    </tr>{% endif %} </tr>
  </table>

  <p><b>Matrice di transizione</b></p>
  <table class="table table-bordered table-hover" style="width: auto">
    <tr>
      <td>{{transition_matrix[0][0]}}</td>
      <td>
        <{{transition_matrix[0][1]}}</td> {% if transition_matrix_len>2 %}
          <td>{{transition_matrix[0][2]}}</td>{% endif %}{% if transition_matrix_len==5 %}
          <td>{{transition_matrix[0][3]}}</td>
          <td>{{transition_matrix[0][4]}}
          </td>{% endif %}</tr>
    <tr>
      <td>{{transition_matrix[1][0]}}</td>
      <td>
        <{{transition_matrix[1][1]}}</td> {% if transition_matrix_len>2 %}
          <td>{{transition_matrix[1][2]}}</td>{% endif %}{% if transition_matrix_len==5 %}
          <td>{{transition_matrix[1][3]}}</td>
          <td>{{transition_matrix[1][4]}}
          </td>{% endif %}</tr>
    {% if transition_matrix_len>2 %}
    <tr>
      <td>{{transition_matrix[2][0]}}</td>
      <td>
        <{{transition_matrix[2][1]}}</td>{% endif %} {% if transition_matrix_len>2 %}
          <td>{{transition_matrix[2][2]}}</td>{% endif %}{% if transition_matrix_len==5 %}
          <td>{{transition_matrix[2][3]}}</td>
          <td>{{transition_matrix[2][4]}}
          </td>{% endif %}</tr>
    {% if transition_matrix_len==5 %}
    <tr>
      <td>{{transition_matrix[3][0]}}</td>
      <td>
        <{{transition_matrix[3][1]}}</td>{% endif %} {% if transition_matrix_len==5 %}
          <td>{{transition_matrix[3][2]}}</td>
          <td>{{transition_matrix[3][3]}}</td>
          <td>{{transition_matrix[2][4]}}
          </td>{% endif %}</tr>
    {% if transition_matrix_len==5 %}
    <tr>
      <td>{{transition_matrix[4][0]}}</td>
      <td>
        <{{transition_matrix[4][1]}}</td>{% endif %} {% if transition_matrix_len==5 %}
          <td>{{transition_matrix[4][2]}}</td>
          <td>{{transition_matrix[4][3]}}</td>
          <td>{{transition_matrix[4][4]}}
          </td>{% endif %}</tr>
  </table>



  <p><b>Matrice di emissione</b></p>
  <table class="table table-bordered table-hover" style="width: auto">
    <tr>
      <td>{{emission_matrix[0][0]}}</td>
      <td>
        <{{transition_matrix[0][1]}}</td>{% if emission_matrix_len>2 %}
          <td>{{transition_matrix[0][2]}}</td>{% endif %}{% if emission_matrix_len==5 %}
          <td>{{transition_matrix[0][3]}}</td>
          <td>{{transition_matrix[0][4]}}</td>{% endif %}</tr>
    <tr>
      <td>{{transition_matrix[1][0]}}</td>
      <td>
        <{{transition_matrix[1][1]}}</td>{% if emission_matrix_len>2 %}
          <td>{{transition_matrix[1][2]}}</td>{% endif %}{% if emission_matrix_len==5 %}
          <td>{{transition_matrix[1][3]}}</td>
          <td>{{transition_matrix[1][4]}}</td>{% endif %}</tr>
    <tr>
      <td>{{transition_matrix[2][0]}}</td>
      <td>
        <{{transition_matrix[2][1]}}</td>{% if emission_matrix_len>2 %}
          <td>{{transition_matrix[2][2]}}</td>{% endif %}{% if emission_matrix_len==5 %}
          <td>{{transition_matrix[2][3]}}</td>
          <td>{{transition_matrix[2][4]}}</td>{% endif %}</tr>

  </table>

  <p>
    <h2>Filtraggio</h2>
  </p>

  <div>
    <p><b>Risultati Filtraggio:</b></p>
    <p><b>Numero di elementi</b>: {{ steps }}</p>
    <p><b>Steps:</b> {{ filtering_seq }}</p>
    <p><b>Risultato finale</b>: {{ filtering_result }}</p>
    <p><b>Corrispondenza</b>: {{ correspondence_filtering }}
  </div>

  <div>
    <p><b>Calcoli Filtraggio</b></p>
    <p>{{ all_steps[0] }}</p>
  </div>


  <div>
    <p>
      <h2>Viterbi</h2></p>
    <p><b>Corrispondenza Viterbi</b>: {{ correspondence_viterbi }}</p>
    <p><b>Calcoli Viterbi</b></p>
    {{ viterbi_seq }}
  </div>


</div>



{% endif %} {% endblock %}
