{% extends "layout.html" %} {% block title %}Demo{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.1.1.js') }}"></script> {% endblock %} {% block content %}
<h1>{{ name }}</h1>

<div id="parameters" class="col-xs-4">
  <form method="POST" , action="{{ url_for('handle_data')}}">

    <div class="form-group">
      <label for="dictionary">Dictionary</label>
      <select name="dictionary" class="form-control">
              <option value="bing"> bing </option>
              <option id="afinn96" value="afinn96"> afinn96 </option>
              <option id="afinn111" value="afinn111"> afinn111 </option>
              <option id="nrc" value="nrc"> nrc </option>
              <option id="afinn_bing_base_bing" value="afinn_bing_base_bing"> afinn_bing_base_bing </option>
              <option id="afinn_bing_base_afinn" value="afinn_bing_base_afinn"> afinn_bing_base_afinn </option>
            </select>
    </div>

    <div class="form-group">
      <label for="sentiment-discretization">Sentiment discretization</label>
      <select name="sm-discretization" class="form-control">
              <option id="2_discretized" value="2"> 2 </option>
              <option id="3_discretized" value="3"> 3 </option>
              <option id="3_discretized" value="3"> 5 </option>
            </select>
    </div>
    <div class="form-group">
      <label for="market-discretization">Market discretization</label>
      <select name="mk-discretization" class="form-control">
              <option id="3_discretized" value="3"> 3 </option>
              <option id="5_discretized" value="5"> 5 </option>
            </select>
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select name="typo" class="form-control">
              <option id="variation" value="variation"> variation </option>
              <option id="standard" value="standard"> standard </option>
            </select>
    </div>

    <div class="form-group">
      <label for="tr-tollerance">transition tollerance</label>
      <select name="tr-tollerance" class="form-control">
              <option  value="0.001"> 0.001 </option>
              <option  value="0.002"> 0.002 </option>
            </select>
    </div>

    <div class="form-group">
      <label for="em-tollerance">emission tollerance</label>
      <select name="sm-tollerance" class="form-control">
              <option  value="0.1"> 0.1 </option>
              <option value="0.2"> 0.2 </option>
            </select>
    </div>

    <input type="submit" value="Calcola" class="btn btn-default">
    <!-- <a href="{{ url_for('demo', dictionary = request.form['dictionary'], discretization = request.form['discretization'], typo = request.form['typo'],
         trtollerance = request.form['trtollerance'], smtollerance = request.form['smtollerance'])}}">
              <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Calcola
              </button>
            </a>-->
  </form>
</div>




{% if data %}
<div id="results" style="float:left;margin-top:50px;width:900px">
  <p>
    <h2>Matrici di probabilità</h2>
  </p>

  <table class="table table-bordered table-hover" style="width: auto">
    <p><b>Matrice delle probabilità iniziali</b></p>
    <tr>
      <td>{{ti[0]}}</td>
    </tr>
    <tr>
      <td>{{ti[1]}}</td>
    </tr>
    <tr>
      <td>{{ti[2]}}</td>
    </tr>{% if tr_row==5 %}
    <tr>
      <td>{{ti[3]}}</td>
    </tr>
    <tr>
      <td>
        <{{ti[4]}}</td>
    </tr>{% endif %} </tr>
  </table>

  <p><b>Matrice di transizione</b></p>
  <table class="table table-bordered table-hover" style="width: auto">
    <tr>
      <td>{{tt[0][0]}}</td>
      <td>
        <{{tt[0][1]}}</td> {% if tr_col>2 %}
          <td>{{tt[0][2]}}</td>{% endif %}{% if tr_col==5 %}
          <td>{{tt[0][3]}}</td>
          <td>{{tt[0][4]}}
          </td>{% endif %}</tr>
    <tr>
      <td>{{tt[1][0]}}</td>
      <td>
        <{{tt[1][1]}}</td> {% if tr_col>2 %}
          <td>{{tt[1][2]}}</td>{% endif %}{% if tr_col==5 %}
          <td>{{tt[1][3]}}</td>
          <td>{{tt[1][4]}}
          </td>{% endif %}</tr>
    {% if tr_row>2 %}
    <tr>
      <td>{{tt[2][0]}}</td>
      <td>
        <{{tt[2][1]}}</td>{% endif %} {% if tr_col>2 %}
          <td>{{tt[2][2]}}</td>{% endif %}{% if trS_col==5 %}
          <td>{{tt[2][3]}}</td>
          <td>{{tt[2][4]}}
          </td>{% endif %}</tr>
    {% if tr_row==5 %}
    <tr>
      <td>{{tt[3][0]}}</td>
      <td>
        <{{tt[3][1]}}</td>{% endif %} {% if tr_col==5 %}
          <td>{{tt[3][2]}}</td>
          <td>{{tt[3][3]}}</td>
          <td>{{tt[2][4]}}
          </td>{% endif %}</tr>
    {% if tr_row==5 %}
    <tr>
      <td>{{tt[4][0]}}</td>
      <td>
        <{{tt[4][1]}}</td>{% endif %} {% if tr_col==5 %}
          <td>{{tt[4][2]}}</td>
          <td>{{tt[4][3]}}</td>
          <td>{{tt[4][4]}}
          </td>{% endif %}</tr>
  </table>



  <p><b>Matrice di emissione</b></p>
  <table class="table table-bordered table-hover" style="width: auto">
    <tr>
      <td>{{to[0][0]}}</td>
      <td>
        <{{to[0][1]}}</td>{% if oss_col>2 %}
          <td>{{to[0][2]}}</td>{% endif %}{% if oss_col==5 %}
          <td>{{to[0][3]}}</td>
          <td>{{to[0][4]}}</td>{% endif %}</tr>
    <tr>
      <td>{{to[1][0]}}</td>
      <td>
        <{{to[1][1]}}</td>{% if oss_col>2 %}
          <td>{{to[1][2]}}</td>{% endif %}{% if oss_col==5 %}
          <td>{{to[1][3]}}</td>
          <td>{{to[1][4]}}</td>{% endif %}</tr>
    <tr>
      <td>{{to[2][0]}}</td>
      <td>
        <{{to[2][1]}}</td>{% if oss_col>2 %}
          <td>{{to[2][2]}}</td>{% endif %}{% if oss_col==5 %}
          <td>{{to[2][3]}}</td>
          <td>{{to[2][4]}}</td>{% endif %}</tr>

  </table>


  <p>
    <h2>Filtraggio</h2>
  </p>

  <div>
    <p><b>Risultati Filtraggio:</b></p>
    <p><b>Numero di elementi</b>: {{ data[3] }}</p>
    <p>Steps: {{ data[4] }}</p>
    <p><b>Risultato finale</b>: {{ data[5] }}</p>
  </div>

  <div>
    <p><b>Calcoli Filtraggio</b></p>
    <p>{{ data[6] }}</p>
  </div>


  <div>
    <p>
      <h2>Viterbi</h2></p>
    <p><b>Risultati Viterbi</b></p>
    {% for i in range( 7,10) %}
    <p> {{ data[i] }}</p>
    {% endfor %}
  </div>

  <div>
    <p><b>Calcoli Viterbi</b></p>
    {{ data[10] }}
  </div>
</div>
{% endif %}
</div>

{% endblock %}
