{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<h1>Home</h1>
<div>
  <h2>Brexit-marketValue</h2> Usually market data models are shaped with historical series of market trends in order to predict their evolution. Can we really predict market prices? Do exist a correlation between investors sentiment and market performance? How the "Twitter sentiment"
  can help to predict the future value of a currency?

  <h2>Purpose</h2> Given 4 weeks of GBP/EUR market value and the tweets with hashtag #brexit from the same timespan:

  <ul>
    <li>find the tweet's sentiment (positive or negative) for each day</li>
    <li>define a predictive model that describe the data (HMM)</li>
  </ul>

  <h2>About</h2> This repository contain all the code and setup for the master degree CS course: MODELLI PROBABILISTICI PER LE DECISIONI 1617-1-F1801Q127, University of Milano Bicocca. Members: Marco, Marco, Renzo Group: gnabgib
</div>
{% endblock %}
